.custom_table thead tr th {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
}

.custom_table thead tr:nth-child(1) th {
    border: 0;
}

.custom_table thead {
    background-color: white;
    position: sticky;
    top: 0;
}

.custom_table tbody tr td {
    padding: 3px 5px;
    font-size: 1.4rem;
}