.custom_table thead tr th {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
}

.custom_table thead tr:nth-child(1) th {
    border: 0;
}

.custom_table thead {
    background-color: white;
    position: sticky;
    top: 0;
}

.custom_table tbody tr td {
    padding: 3px 5px;
    font-size: 1.4rem;
}

.container .custom_table_pagination {
    position: absolute;
    bottom: 1.6rem;
}
.container .custom_table_pagination li:not(.disabled) {
    cursor: pointer;
}
.container .custom_table_pagination li {
    font-size: 1.4rem;
    height: 1.6rem;
}

.custom_table:not(.with_loader) .spinner-grow {
    display: none;
}

.custom_table.with_loader tbody {
    display: none;
}
.custom_table.with_loader  {
    height: 100%;
    display: flex;
}
.custom_table.with_loader .spinner-grow,  .table_no_data-info {
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    background-color: black;
    margin: auto;
}
.table_no_data-info {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    font-size: 2rem;
}